GitPython
Pillow
accelerate

torch==2.0.1+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.2+cu117 --index-url https://download.pytorch.org/whl/cu117
numpy==1.26.4
blendmodes==2024.1.1
clean-fid
diskcache
einops
facexlib
fastapi>=0.90.1
gradio==3.41.2
numba==0.61.0
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf==3.20.0
psutil
pytorch-lightning==2.0.0
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torchdiffeq
torchsde
transformers==4.30.2
pillow-avif-plugin==1.4.3